/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik+Dirt&display=swap');

/* VARIABLE CSS */
:root {
  --header-height: 115px;

  /* COLORS */
  /* Change favorite color: */
  /* purple 250, green 142, blue 230, pink 340 */
  --hue-color: 230;

  /* HSL COLOR MODE */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color2: hsl(var(--hue-color), 8%, 70%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 100%, 1%);
  --bgcolor-hover: hsl(var(--hue-color), 5%, 15%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 60%);

  /* FONT AND TYPOGRAPHY */
  --body-font: 'Poppind', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* MARGINS BOTTOM */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* INDEX */
  --z-tooltip: 1; /*10*/
  --z-fixed: 2; /*100*/
  --z-modal: 3; /*1000*/
}

/* BASE */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* ===========>>>>    Generales     <<<<<========== */
.container{
  width: 95%;
  margin: auto;
}

/* ===========>>>>    Menu     <<<<<========== */
.header{
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
  background-color: #fff;
  
}
.nav{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem ;
}

.nav .menu-responsive,
.nav .nav-logo{
  padding: 15px;
}
.nav .menu-responsive{
  border-radius: 10px;
  
}
.nav .menu-responsive:hover{
  background-color: var(--first-color);
  color: #fff;
}
.nav .menu-responsive .menu-responsive-icon{
  font-size: 1.3rem;

}
.nav .nav-menu{
  width: 100%;
  display: none;
  position:fixed;
  margin-top: calc(var(--header-height) - 2px);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  background-color: #fff;
  transition: 1s;
  box-shadow: 0 4px 20px 0 ;
  padding: .8rem 0;
}

.nav .nav-menu .menu-list{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.nav .nav-menu .menu-button .nav-link{
  color: var(--text-color);
}
.nav .nav-menu .menu-button .nav-link:hover{
  color: var(--first-color);
}
.nav .show-menu{
  display: flex;
  
}

/* ===========>>>>    Hero     <<<<<========== */
.hero{
  margin-top: calc(var(--header-height) + 2px);
  height: calc(100vh - var(--header-height)) ;
}

.hero .card-perfil{
  display: grid;
  gap: var(--mb-1);
  max-width: 90%;
  margin: auto;
  padding: .5rem;
  
}
.hero .card-perfil .card-img{
  display: flex;
  justify-content: center;
}
.hero .card-perfil .card-img .perfil-blob{
  fill: var(--first-color);
  width: 200px;
}
.hero .card-perfil .card-img .perfil-blob-img{
  width: 300px;
}
.hero .card-perfil .card-btns{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.hero .card-perfil .card-data{
 display: flex;
 flex-direction: column;
 gap: var(--mb-0-75);
 align-items: center;
}
.hero .card-perfil .card-data .hero-title{
  font-size: var(--h1-font-size);
}
.hero .card-perfil .card-data .hero-title span{
  color: var(--first-color);
}
.hero .card-perfil .card-data .hero-subtitle{
  font-size: var(--h3-font-size);
}
.hero .card-perfil .card-data .hero-subtitle span{
  color: var(--first-color);
}
